In [1]:
import pandas as pd
data=pd.read_csv(r"C:\Users\mouni\Desktop\Fish.csv")

In [2]:
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
data.isnull().any()

Species     True
Weight      True
Length1    False
Length2    False
Length3     True
Height     False
Width      False
dtype: bool

In [4]:
l=list(data.isnull().any())

In [5]:
l

[True, True, False, False, True, False, False]

In [6]:
d=list(data)

In [7]:
d

['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width']

In [8]:
for i in range(len(l)):
    if(l[i]):
        data[d[i]].fillna(data[d[i]].mode()[0],inplace = True)

In [9]:
data.isnull().any()

Species    False
Weight     False
Length1    False
Length2    False
Length3    False
Height     False
Width      False
dtype: bool